h1 {
    font-family: Rubik;
    color: #FFDA15;
    text-shadow: 0.5mm 0.4mm 0.2mm rgb(141, 139, 31);
    position: relative;
    right: 230px;
}
h3 {
    text-shadow: 0.5mm 0.4mm 0.2mm #000000;
    font-family: Rubik;
    color: #FFDA15;
    position: relative;
    left: 50px;
}
h2 {
    text-shadow: 0.5mm 0.4mm 0.2mm #000000;
    font-family: Rubik;
    color: #FFDA15;
    position: relative;
    left: 50px;
}
p {
    font-size: 20px;
    text-shadow: 0.2mm 0.2mm 0.2mm rgb(217, 235, 114);
    font-family: IBM Plex Serif;
    color: #fff1a0;
    margin-left: 50px;
    margin-right: 500px;
    margin-top: 31px;
}
body {
    display: block;
    background-size: 100%;
    background-color:  #111111;
    text-align: justify;
}
a{
    color: #FFDA15;
    text-decoration: none;
    font-size: 28px;
    margin: 25px;
    padding: 10px;
    text-shadow: 0.2mm 0.2mm 0.2mm #FFDA15;
}
a:hover {
    color: white;
}
a:active {
    color: #FFDA15;
}
#link {
    color: #fff1a0;
    text-decoration: none;
    font-size: 20px;
    margin: 50px;
    padding: 10px;
    text-shadow: 0.2mm 0.2mm 0.2mm #FFDA15;
}
header {
    background-color: grey;
    padding: 18px;
    text-align: center;
}
img {
    float: inline-start;
    width: 60px;
    position:relative; 
    bottom: 10px;
    left: 20px;
}
.title {
    float: inline-start;
    font-family: "Acme", sans-serif;
    color: #FFDA15;
    margin-left: 5%;
    margin-top: 4px;
    text-shadow: 0.5mm 0.4mm 0.2mm rgb(0, 0, 0);
    position:relative;
    right: 14px;
    bottom: 6px;
    font-size: 40px;
}
table {
    margin-left: 50px;
    padding: 10px;
    color: #f3f2ea;
    border: 1px solid #FFDA15;
    border-spacing: 0 10px;
}
td, th {   
    margin: 5px;
    padding: 10px;
    border: 1px solid black;
}
